.content {
  /* width: 95%; */
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.image {
  background-color: white;
  border-radius: 1000px;
  height: 66px;
  width: 71px;
  overflow: hidden;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.textarea {
  width: 100%;
  margin-right: 24px;
}
