.container {
  background-color: white;
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 4px;
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.userImg {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  height: 36px;
  width: 36px;
  overflow: hidden;
}

.username {
  margin-right: 24px;
  font-weight: bold;
}

.action_bar {
  display: flex;
  justify-content: space-between;
}

.upvoter {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 100px;
  border-radius: 8px;
  background-color: aquamarine;
  overflow: hidden;
}
.score_btn {
  border: none;
  background-color: transparent;
}
.score_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.reply_container {
  border-left: 1px solid black;
  margin: 12px 24px;
}
